<div id="nav">
    <img class="it" src="../../assets/images/it-ce.png"/>

    <div id="reseaux">
        <img class="rsx" src="../../assets/images/linkedin.png"/>
        <img class="rsx" src="../../assets/images/twitter.png"/>
        <img class="rsx" src="../../assets/images/facebook.png"/>

        
        
        

    </div>
    <div id="dash"><span id="tabBord">Tableau de bord</span></div>

    
  <div   id ="navbar" class="nav">
    <span id="Modifier"><a routerLink="/modifier">Modifier..</a></span>
    
  </div>
  <div class="nav">
    
    <span  id="Ajouter"><a routerLink="/ajouter">Ajouter..</a></span>
    
  </div>
  <div class="nav">
    
   <span  id="supprimer"><a routerLink="/supprimer">Supprimer..</a></span>
   
  </div>
  
  
  </div>

  
  
  
  <router-outlet></router-outlet>
