



<div id="modifier">
    <div><p>Referentiels interact </p></div>

    <h1>Modifier</h1>
    <img id="fleche" src="../../assets/images/fleche_bas.png"/>





<div *ngIf="display" id="lesModifs">
    <div class="modif">
        <h2><a>Localisation</a></h2>
    </div>
    <div class="modif">
        <h2><a>Taux</a></h2>
    </div>
    <div class="modif">
        <h2><a routerLink="supprimer">Civile</a></h2>
    </div>
    <div class="modif">
        <h2><a>Contrat</a></h2>
    </div>
    <div class="modif">
        <h2>....</h2>
    </div>
</div>
</div>