<div id="modifier">

    <h1>Ajouter</h1>
    
    <div id="lesModifs">
        <div class="modif">
            <h2><a>Localisation</a></h2>
        </div>
        <div class="modif">
            <h2><a>Taux</a></h2>
        </div>
        <div class="modif">
            <h2><a routerLink="supprimer">Civile</a></h2>
        </div>
        <div class="modif">
            <h2><a>Contrat</a></h2>
        </div>
        <div class="modif">
            <h2>....</h2>
        </div>
    </div>
    </div>